.main-home-page {
  width: 100%;
  height: 100%;
  background: #1e1c1b;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
}

.home-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.firstSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  max-width: 1800px;
  min-height: 100vh;
  position: relative;
}

.firstSectionTop {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.star-shape {
  position: absolute;
  top: 400px;
  right: 50px;
}

.textFirstSection h1 {
  color: var(--white);
  font-weight: 400;
  margin-left: 20px;
  font-family: "Dirtyline";
  font-size: 4vw;
  position: relative;
  z-index: 1;
}

.textFirstSection span {
  font-family: "Dirtyline";
}

.textFirstSection {
  width: 60%;
}

.firstSectionBottom {
  width: 100%;
  height: 30%;
}

.textSmall h1 {
  font-size: 23px;
  font-family: "Nohemi Regular";
  margin-left: 0;
  margin-top: 0px;
  filter: blur(0px);
}

.textSmall {
  width: 700px;
  margin-left: 20px;
  margin-top: 20px;
}

.line {
  width: 80%;
}

.secondSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1770px) {
  .textFirstSection h1 {
    font-size: 7vw;
  }

  .textFirstSection {
    width: 90%;
  }

  .textSmall h1 {
    font-size: 2vw;
  }
}

@media (max-width: 809px) {
  .star-shape img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 968px) {
  .textSmall h1 {
    font-size: 3vw;
  }

  .textSmall {
    width: 90%;
  }

  .star-shape {
    top: 500px;
    right: 50px;
    position: absolute;
    z-index: 0;
  }

  .star-shape img {
    width: 100px;
  }
}

@media (max-width: 463px) {
}
