.main-navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0; 
    left: 0;
    font-family: "Nohemi Regular";
    z-index: 1000; 
}

.navbar {
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    background: rgb(255, 255, 255);
    z-index: 10000;
}

.leftNavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
    position: absolute;
    width: 300px;
    cursor: pointer;
}

.rightNavbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 20px;
}

.navigation span {
    position: relative;
    cursor: pointer;
    padding-bottom: 5px; 
    font-size: 16px;
    font-weight: 500;
}

.navigation span::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: var(--span-line-width, 0); 
    background-color: black;
    transition: width 0.3s ease-out; 
}

.menuButton{
    width: 80px;
    height: 80px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 10px;
    z-index: 10000;
}

.line1, .line2{
    width: 70%;
    height: 2px;
    background: black;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.line1.active{
    transform: rotate(45deg);
}

.line2.active{
    transform: rotate(-45deg);
    margin-top: -8px;
}


.topHamMenu{
    position: fixed;
    top: 100px;
    right: 0;
    width: 100%;
    height: 0%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 999;
}

.texts{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.texts span{
    font-size: 11.4vw;
    color: black;
}

@media (max-width: 676px) {
    .navigation {
        display: none;
    }

    .menuButton{
        display: flex;
    }
}

@media (max-width: 437px){
    .leftNavbar h1{
        font-size: 17px;
    }

    .leftNavbar{
        width: 250px;
    }
}