html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: var(--black);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nohemi Regular";
}

@font-face {
  font-family: "Nohemi Regular";
  src: url("./assets/Fonts/Nohemi-Regular.ttf");
}

@font-face {
  font-family: "Nohemi Bold";
  src: url("./assets/Fonts/Nohemi-Bold.ttf");
}

:root {
  --orange: #f64a16;
  --black: #1e1c1b;
  --white: #f6f3f0;
}
